*.mode1v3
*.o
*.pbxuser
.DS_Store
.deps
.dirstamp
/Makefile
/Makefile.in
/build-aux/git-package-version
aclocal.m4
autom4te.cache
build/
config.h
config.h.in
config.log
config.status
configure
stamp-h1
