*~
*.lo
*.mode1v3
*.o
*.pbxuser
*.xcworkspace
*.swp
*.xcodeproj
.DS_Store
.deps
.dirstamp
/ABOUT-NLS
/INSTALL
/Makefile
/Makefile.in
/build-aux/git-package-version
aclocal.m4
autom4te.cache
autoscan.log
build/
config.h
config.h.in
config.log
config.status
configure
configure.scan
stamp-h1
xcuserdata
