*.gmo
LINGUAS
Makefile.in.in
Makevars
Makevars.template
POTFILES.in
Rules-quot
boldquot.sed
dmstools.pot
en@boldquot.header
en@boldquot.po
en@quot.header
en@quot.po
insert-header.sin
quot.sed
remove-potcdate.sin
